p{
    color: whitesmoke;
    font-family: arial;
    background-color: rgb(112, 109, 109);
}
h1{
    text-align: center;
}
h2{
    color: white;
    background-color: black;
}
h3{
    text-align: center;
}
